<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="stylesheets/404.css">
</head>

<body>
  <!-- https://codepen.io/kaypooma/pen/ehfjC -->
  <div class="error">404</div>
  <br />
  <br />
  <span class="info">Not found, come back later</span>
  <img src="http://images2.layoutsparks.com/1/160030/too-much-tv-static.gif" class="static" />
</body>

</html>